<ul>
  
  <li>Most of the main content on OPM Wire is free. Paid memberships are mostly a way of expressing where you belong on the social dominance hierarchy.</li><br>
  <li>If you sign up for free (or have already done so), then your status is Frog-Kissing Blind Squirrel.</li><br>
  <li>Super Premium Wheeler-Dealer memberships are subject to approval and can be revoked at any time, at OPM's sole discretion.</li><br>
  <li>Newsletters you get from OPM Wire will identify your chosen status.  If you choose to forward such emails to others, you could be exposed to status-based discrimination, ridicule or envy, as the case may be.  Sad! </li><br>
  <li>Your payment info is stored and processed securely by Stripe and never touches our servers.</li><br>
  <li>Stripe was recently valued at $95 Billion - more than Blackstone, KKR and The Carlyle Group COMBINED.  We trust that is suitably high-status for you.</li><br>
  <li>Plans renew automatically, but you can cancel at any time before a payment is due.</li><br>
  <li>Prices are subject change, including for existing subscribers.</li><br>
  <li>No discounts will ever be offered, as discounts are low-status.</li><br>
  <li>For the same reason, no refunds will be given, except where required by law.</li>
  
</ul>