<div class='c-tags-list-container'>
  
  <div class='o-grid'>
        <div class='o-grid__col o-grid__col--full'>
      
        <div class='c-tags-list-wrap'>
          <ul class='c-tags-list o-plain-list dragscroll'>
            
            <li class='c-tags-list__item'>
              <a href='{{@site.url}}/latest-core/' class='c-tags-list__link'>{{t 'Latest posts' }}</a>
            </li>
             <li class='c-tags-list__item'>
              <a href='{{@site.url}}/top-posts/' class='c-tags-list__link'>{{t 'Top posts' }}</a>
            </li>
                       {{> mega-menu}}

                      
          </ul>
          
        </div>
    </div>
  </div>
</div>
