        {{!< default}}
            <header class="page-header" data-background="{{asset "images/kontakt-oss.jpg"}}">
                <div class="inner">
                    <svg width="580" height="400" class="svg-morph">
                        <path id="svg_morph" d="m261,30.4375c0,0 114,6 151,75c37,69 37,174 6,206.5625c-31,32.5625 -138,11.4375 -196,-19.5625c-58,-31 -86,-62 -90,-134.4375c12,-136.5625 92,-126.5625 129,-127.5625z" />
                    </svg>
                    <h1>Kontakt oss</h1>
                    <p>Ring oss, mail oss, kontakt oss på facebook eller stikk innom!</p>
                </div>
                <!-- end inner -->
            </header>
            <!-- end page-header -->
            <section class="content-section" data-background="#fffbf7">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div class="section-title text-center">
                                <figure><img src="{{asset "images/title-shape.png"}}" alt="Image"></figure>
                                <h2>Kontakt oss</h2>
                            </div>
                            <!-- end section-title -->
                        </div>
                        <!-- end col-12 -->
                        <div class="col-lg-5">
                            <div class="contact-box">
                                <h6></h6>
                                <p>Telefon: 400 22 044</p>
                            </div>
                            <!-- end contact-box -->
                            <div class="contact-box">
                                <h6>General enquiries</h6>
                                <p><a href="#">enquiries@wandau.co.uk</a>
                                    020 3461 4878 (Monday to Friday: 10:00 - 17:00).</p>
                            </div>
                            <!-- end contact-box -->
                            <div class="contact-box">
                                <h6>Media enquiries</h6>
                                <p><a href="#">sponsor@wandau.co.uk</a>
                                    The person or department you would like to contact</p>
                            </div>
                            <!-- end contact-box -->
                        </div>
                        <!-- end col-5 -->
                        <div class="col-lg-5">
                            <div class="contact-form">
                                <div class="mb-3">
                                    <input type="text" placeholder="Complete Name">
                                </div>
                                <!-- end mb-3 -->
                                <div class="mb-3">
                                    <input type="text" placeholder="E-mail Address">
                                </div>
                                <!-- end mb-3 -->
                                <div class="mb-3">
                                    <input type="text" placeholder="Phone Number">
                                </div>
                                <!-- end mb-3 -->
                                <div class="mb-3">
                                    <textarea placeholder="Your Message"></textarea>
                                </div>
                                <!-- end mb-3 -->
                                <div class="mb-3">
                                    <input type="submit" value="Send Us">
                                </div>
                                <!-- end mb-3 -->
                            </div>
                            <!-- end contact-form -->
                        </div>
                        <!-- end col-5 -->
                    </div>
                    <!-- end row -->
                </div>
                <!-- end container -->
            </section>
            <!-- end content-section -->
            <div class="google-maps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10202.81803653302!2d30.552083977692742!3d50.4247130103151!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf73cbd2db91%3A0x8141e376ee29dd50!2sZvirynetske%20Cemetery!5e0!3m2!1str!2str!4v1614660000205!5m2!1str!2str"></iframe>
            </div>
