                <!-- end slider-images -->
                <div class="swiper-container slider-texts">
                    <svg width="580" height="400" class="svg-morph">
                        <path id="svg_morph" d="m261,30.4375c0,0 114,6 151,75c37,69 37,174 6,206.5625c-31,32.5625 -138,11.4375 -196,-19.5625c-58,-31 -86,-62 -90,-134.4375c12,-136.5625 92,-126.5625 129,-127.5625z" />
                    </svg>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="container-fluid">
                                <h1>Velkommen til Hopsjøbrygga</h1>
                                <p>Opplev god mat, drikke og musikk i et rotekte kulturhistorisk miljø. <br>Her finner du restaurant, gjestebrygge, krambod og flere små <br> museum med utstillinger som er åpne året rundt!</p>
                            </div>
                            <!-- end container -->
                        </div>
                        <!-- end swiper-slide -->
                        <div class="swiper-slide">
                            <div class="container-fluid">
                                <h1>Besøk fabrikken</h1>
                                <p>Nå åpner vi ny utstilling på fabrikken og du kan ta del i den <br>rike hermetikk historien øyregionen har fostret siden 1910.  </p>
                            </div>
                            <!-- end container -->
                        </div>
                        <!-- end swiper-slide -->
                    </div>
                    <!-- end swiper-wrapper -->
                </div>
                <!-- end slider-texts -->